[run]
include =
  src/*
parallel = 1
branch = 1

[report]
skip_covered = True
show_missing = True
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^\s*assert False(,|$)

    ^\s*if TYPE_CHECKING:
    ^\s*if LESS_PY38:
    ^\s*@overload( |$)
